.content{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content  h1{
    text-align: center;
    font-size: 34px;
}

.products{
    display: flex;
    justify-content: space-evenly;
}

.product-item{
    width: 19%;
    padding: 12px;
    margin: 0 10px 0 10 px !important;
}

.product-item:hover img{
    transform: translateY(-10px);
    transition: all 0.6s ease ;
    cursor: pointer;
}

.product-item > img{
    width: 100%;

}

.product-item-text{
    padding-top: 20px;

}

.product-item-text ul{
    list-style: none;
}

.product-item-text li{
    margin-bottom: 6px;
}

.product-item-text li i{
    color: #FFD700;
}

.product-item-text li:nth-child(2) a{
    text-decoration: line-through;
    color: #000000;
    font-size: 12px;
}

.product-item-text li:first-child:hover{
    text-decoration-line: underline		;
}

.product-item-text li:nth-child(2) span{
    font-weight: bold;
}

.slider-product-one-content-container{
    position: relative;
    overflow: hidden;
}

.slider-product-one-content-btn{
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-product-one-content-btn i{
    color: #333333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(253,242,242);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.slider-product-one-content-items-container{
    position: relative;
    height: 420px;
    transition: all 0.3 ease;
}

.products{
    position: absolute;
}

.products:nth-child(2) {
    transform: translateX(100%);
}

.products:nth-child(3) {
    transform: translateX(200%);
}